name: Build SukiSU + susfs Kernel
run-name: Build da kernel
# I am aware of GitHub releases, but due to 2FA requirement i am not going to make it. I'm sorry about that, but please understand my choice since i do not take this lightly.
# https://docs.github.com/authentication/securing-your-account-with-two-factor-authentication-2fa/about-mandatory-two-factor-authentication
on:
  workflow_dispatch:
    inputs:
      mock_build:
        type: boolean
        default: false
        description: Only create fake image file (mock build)
      upload_artifact:
        type: boolean
        default: false
        description: Upload built AnyKernel3 folder to artifact

permissions:
  contents: write

env:
  KERNEL_FOLDER: 'kxm'
  DEFCONFIG: 'arch/arm64/configs/begonia_user_defconfig' # relative to kernel folder
  SUKISU_BRANCH: 'susfs-main'

jobs:
  just-build-it:
    runs-on: ubuntu-latest
    steps:
      - name: Add date
        run: echo "TAG=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV

      - name: checkout this repo
        uses: actions/checkout@v5

      - name: checkout kernel repo
        uses: actions/checkout@v5
        with:
          repository: 'Saikrishna1504/kernel_xiaomi_mt6785' # use bka branch
          ref: 'b689ceb2c9c978acfe23b2e486aeb82e929105f2' # last good commit
          path: ${{ env.KERNEL_FOLDER }}

      - name: save kernel commit # not using HEAD since we are not fetching latest one
        run: |
          cd ${{ env.KERNEL_FOLDER }}
          echo "Kernel commit: $(git rev-parse FETCH_HEAD)"
          echo "KERNEL_COMMIT=$(git rev-parse FETCH_HEAD)" >> $GITHUB_ENV

      - name: checkout modified AnyKernel3 repo
        uses: actions/checkout@v5
        with:
          repository: 'F640/AnyKernel3' # use begonia-ksu-base branch
          ref: 'begonia-ksu-base'
          path: 'ak3'

      - name: Setup kernel build stuffs, Neutron Clang and SukiSU (susfs-main)
        run: |
            set -e
            cd ${{ env.KERNEL_FOLDER }}

            (sudo apt update
             sudo apt install -y git device-tree-compiler lz4 xz-utils zlib1g-dev openjdk-17-jdk gcc g++ python3 python-is-python3 p7zip-full android-sdk-libsparse-utils erofs-utils \
             default-jdk gnupg flex bison gperf build-essential zip curl libc6-dev libncurses-dev libx11-dev libreadline-dev libgl1 libgl1-mesa-dev \
             python3 make gcc g++ bc grep tofrodos python3-markdown libxml2-utils xsltproc zlib1g-dev python-is-python3 libc6-dev libtinfo6 \
             make repo cpio kmod openssl libelf-dev pahole libssl-dev libarchive-tools zstd rsync --fix-missing) &

            if  ${{ github.event.inputs.mock_build == 'false' }}; then
              (# mkdir -p "toolchain" && cd "toolchain"
              mkdir -p $HOME/neutron-clang && cd $HOME/neutron-clang
              curl -LO "https://raw.githubusercontent.com/Neutron-Toolchains/antman/main/antman"
              chmod +x antman && ./antman -S
              ln -s $HOME/neutron-clang ${{ env.KERNEL_FOLDER }}/toolchain) &
            fi

            ../ext-scripts/sukisu-setup.sh ${{ env.SUKISU_BRANCH }} &

            wait

      - name: save SukiSU commit # not using HEAD since we are not fetching latest one
        run: |
          set -e
          cd ${{ env.KERNEL_FOLDER }}/KernelSU
          echo "SukiSU commit: $(git rev-parse HEAD)@${{ env.SUKISU_BRANCH }}"
          echo "SUKISU_COMMIT=$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Fiddle kernel stuff
        run: |
          set -e
          cd ${{ env.KERNEL_FOLDER }}
          ../kernel-scripts/set-features.sh

          # remove built-in custom rom hiding (might will readd in future)
          patch -p1 < ../patches/96_unhide_stuff.patch

      - name: add KernelSU hook, enable SukiSU and SUSFS
        run: |
          set -e
          cd ${{ env.KERNEL_FOLDER }}

          ../kernel-scripts/plant-ksu-defconfig.sh
          ../kernel-scripts/enable-ksu.sh
          ../kernel-scripts/plant-susfs-defconfig.sh
          ../kernel-scripts/sussifykernel.sh

          patch -p1 < ../patches/ksu-hook-min/ksu-hook-min-1.6.patch

          # integrate susfs
          cp -r ../patches/susfs-backport/thesillyok-susfs-1.5.12/fs/* fs/
          cp -r ../patches/susfs-backport/thesillyok-susfs-1.5.12/include/linux/* include/linux/
          patch -p1 < ../patches/susfs-backport/thesillyok-susfs-1.5.12/thesillyok-susfs-1.5.12-mod.patch

          (
          cd KernelSU
          # temporary fix SukiSU compile issues on susfs-main-branch
          patch -p1 < ../../patches/other-patches/ssu-susfs-main-fix-678c00.patch
          # make SukiSU compatible with backported susfs
          # patch -p1 < ../../patches/susfs-backport/thesillyok-susfs-1.5.12/thesillyok-susfs-1.5.12-compat.patch
          )

      - name: Start building (without KPM)
        run: |
            set -e
            cd ${{ env.KERNEL_FOLDER }}

            sed -ri 's/^(CONFIG_KSU_DEBUG=.*|# CONFIG_KSU_DEBUG is not set)/CONFIG_KSU_DEBUG=n/' ${{ env.DEFCONFIG }}
            sed -ri 's/^(CONFIG_KPM=.*|# CONFIG_KPM is not set)/CONFIG_KPM=n/' ${{ env.DEFCONFIG }}

            if  ${{ github.event.inputs.mock_build == 'false' }}; then
              ../kernel-scripts/build.sh -b
            else
              echo "WARNING: Mock build enabled. Generating fake files instead..."
              mkdir -p out/arch/arm64/boot
              touch out/arch/arm64/boot/Image.gz-dtb
            fi

            cd ..
            mkdir -p begonia-ssu
            cp ${{ env.KERNEL_FOLDER }}/out/arch/arm64/boot/Image.gz-dtb begonia-ssu/

      - name: Enable debug and build again
        run: |
            set -e
            cd ${{ env.KERNEL_FOLDER }}

            sed -ri 's/^(CONFIG_KSU_DEBUG=.*|# CONFIG_KSU_DEBUG is not set)/CONFIG_KSU_DEBUG=y/' ${{ env.DEFCONFIG }}

            if  ${{ github.event.inputs.mock_build == 'false' }}; then
              ../kernel-scripts/build.sh -b
            else
              echo "WARNING: Mock build enabled. Generating fake files instead..."
              mkdir -p out/arch/arm64/boot
              touch out/arch/arm64/boot/Image.gz-dtb
            fi

            cd ..
            mkdir -p begonia-ssu-debug
            cp ${{ env.KERNEL_FOLDER }}/out/arch/arm64/boot/Image.gz-dtb begonia-ssu-debug/

      - name: Enable KPM and build again with KPM support without debug
        run: |
            set -e
            cd ${{ env.KERNEL_FOLDER }}

            sed -ri 's/^(CONFIG_KSU_DEBUG=.*|# CONFIG_KSU_DEBUG is not set)/CONFIG_KSU_DEBUG=n/' ${{ env.DEFCONFIG }}
            sed -ri 's/^(CONFIG_KPM=.*|# CONFIG_KPM is not set)/CONFIG_KPM=y/' ${{ env.DEFCONFIG }}

            if  ${{ github.event.inputs.mock_build == 'false' }}; then
              ../kernel-scripts/build.sh -b
            else
              echo "WARNING: Mock build enabled. Generating fake files instead..."
              mkdir -p out/arch/arm64/boot
              touch out/arch/arm64/boot/Image.gz-dtb
            fi

            cd ..
            mkdir -p begonia-ssu-kpm
            cp ${{ env.KERNEL_FOLDER }}/out/arch/arm64/boot/Image.gz-dtb begonia-ssu-kpm/

      - name: Enable debug and build again
        run: |
            set -e
            cd ${{ env.KERNEL_FOLDER }}

            sed -ri 's/^(CONFIG_KSU_DEBUG=.*|# CONFIG_KSU_DEBUG is not set)/CONFIG_KSU_DEBUG=y/' ${{ env.DEFCONFIG }}

            if  ${{ github.event.inputs.mock_build == 'false' }}; then
              ../kernel-scripts/build.sh -b
            else
              echo "WARNING: Mock build enabled. Generating fake files instead..."
              mkdir -p out/arch/arm64/boot
              touch out/arch/arm64/boot/Image.gz-dtb
            fi

            cd ..
            mkdir -p begonia-ssu-kpm-debug
            cp ${{ env.KERNEL_FOLDER }}/out/arch/arm64/boot/Image.gz-dtb begonia-ssu-kpm-debug/

      - name: Create AnyKernel3 zip installer
        run: |
          set -e
          echo ak3-ssu ak3-ssu-debug ak3-ssu-kpm ak3-ssu-kpm-debug | xargs -n 1 cp -r ak3

          mv begonia-ssu/Image.gz-dtb ak3-ssu/
          mv begonia-ssu-debug/Image.gz-dtb ak3-ssu-debug/
          mv begonia-ssu-kpm/Image.gz-dtb ak3-ssu-kpm/
          mv begonia-ssu-kpm-debug/Image.gz-dtb ak3-ssu-kpm-debug/

          (cd ak3-ssu && zip -r -9 ../sukisu-begonia-power-kernel-mod.zip . -x ".git/*")
          (cd ak3-ssu-debug && zip -r -9 ../sukisu-debug-begonia-power-kernel-mod.zip . -x ".git/*")
          (cd ak3-ssu-kpm && zip -r -9 ../sukisu-kpm-begonia-power-kernel-mod.zip . -x ".git/*")
          (cd ak3-ssu-kpm-debug && zip -r -9 ../sukisu-kpm-debug-begonia-power-kernel-mod.zip . -x ".git/*")

      - name: Upload SukiSU AnyKernel3 zip to artifact
        if: ${{ github.event.inputs.upload_artifact == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: 'sukisu-begonia-power-kernel'
          path: 'sukisu-begonia-power-kernel-mod.zip'
          if-no-files-found: error
          compression-level: 9

      - name: Upload SukiSU debug AnyKernel3 zip to artifact
        if: ${{ github.event.inputs.upload_artifact == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: 'sukisu-debug-begonia-power-kernel'
          path: 'sukisu-debug-begonia-power-kernel-mod.zip'
          if-no-files-found: error
          compression-level: 9

      - name: Upload SukiSU KPM zip to artifact
        if: ${{ github.event.inputs.upload_artifact == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: 'sukisu-kpm-begonia-power-kernel'
          path: 'sukisu-kpm-begonia-power-kernel-mod.zip'
          if-no-files-found: error
          compression-level: 9

      - name: Upload SukiSU KPM debug zip to artifact
        if: ${{ github.event.inputs.upload_artifact == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: 'sukisu-kpm-debug-begonia-power-kernel'
          path: 'sukisu-kpm-debug-begonia-power-kernel-mod.zip'
          if-no-files-found: error
          compression-level: 9

      - name: Create commit text for record for artifact
        if: ${{ github.event.inputs.upload_artifact == 'true' }}
        run: |
          echo "${{ env.KERNEL_COMMIT }}" >> ${{ env.KERNEL_FOLDER }}/commit.txt
          echo "${{ env.SUKISU_COMMIT }}@${{ env.SUKISU_BRANCH }}" >> ${{ env.KERNEL_FOLDER }}/KernelSU/commit.txt

      - name: Upload kernel source to artifact
        if: ${{ github.event.inputs.upload_artifact == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: 'sukisu-kpm-begonia-power-kernel'
          path: '${{ env.KERNEL_FOLDER }}/*'
          if-no-files-found: error
          compression-level: 9
          include-hidden-files: false
