name: Build SukiSU + susfs Kernel
run-name: Build da kernel

on:
  workflow_dispatch:
    inputs:
      mock_build:
        type: boolean
        default: false
        description: Only create fake image file (mock build)
      upload_artifact:
        type: boolean
        default: false
        description: Upload built AnyKernel3 folder to artifact
      add_kpm_build:
        type: boolean
        default: false
        description: Add KPM build (CONFIG_DEBUG_KERNEL must disabled)
      enable_config_debug_kernel:
        type: boolean
        default: false
        description: Enable CONFIG_DEBUG_KERNEL
      generate_release:
        type: choice
        description: Generate release? You will need to enable 2FA after you create release
        default: none # More info about above: https://docs.github.com/authentication/securing-your-account-with-two-factor-authentication-2fa/about-mandatory-two-factor-authentication
        options:
          - none
          - pre-release
          - release
        required: true

permissions:
  contents: write

env:
  KERNEL_FOLDER: 'kxm'
  DEFCONFIG: 'arch/arm64/configs/begonia_user_defconfig' # relative to kernel folder
  SUKISU_BRANCH: 'susfs-main'
  SUSFS_VER: '1.5.12'
  KERNEL_OUT_DIR: 'out/arch/arm64/boot/' # relative to kernel folder
  DTB_OUT_DIR: '' # relative to kernel folder

jobs:
  just-build-it:
    runs-on: ubuntu-latest
    steps:
      - name: put input to variables
        run: |
          echo "ADD_KPM_BUILD=${{ github.event.inputs.add_kpm_build }}" >> $GITHUB_ENV
          echo "ENABLE_CONFIG_DEBUG_KERNEL=${{ github.event.inputs.enable_config_debug_kernel }}" >> $GITHUB_ENV

      - name: Add date
        run: echo "TAG=$(date +%Y%m%d%H%M%S)-sus" >> $GITHUB_ENV

      - name: checkout this repo
        uses: actions/checkout@v5

      - name: checkout kernel repo
        uses: actions/checkout@v5
        with:
          repository: 'WuXing90/kernel_xiaomi_mt6785' # use bka branch
          ref: '028af8bb01ee7e1168726970e3580a2c4029aa03' # last good commit
          path: ${{ env.KERNEL_FOLDER }}

      - name: save kernel commit # not using HEAD since we are not fetching latest one
        run: |
          cd ${{ env.KERNEL_FOLDER }}
          echo "Kernel commit: $(git rev-parse FETCH_HEAD)"
          echo "KERNEL_COMMIT=$(git rev-parse FETCH_HEAD)" >> $GITHUB_ENV

      - name: checkout modified AnyKernel3 repo
        uses: actions/checkout@v5
        with:
          repository: 'F640/AnyKernel3' # use begonia-ksu-base branch
          ref: 'begonia-ksu-base'
          path: 'ak3'

      - name: Setup kernel build stuffs, Neutron Clang and SukiSU (susfs-main)
        run: |
            set -e
            chmod -R 755 ./

            # Create $HOME/.local/bin folder
            # GH Actions seemed to not create this folder by default
            mkdir -p $HOME/.local/bin

            cd ${{ env.KERNEL_FOLDER }}

            (sudo apt update
             sudo apt install -y git device-tree-compiler lz4 xz-utils zlib1g-dev openjdk-17-jdk gcc g++ python3 python-is-python3 p7zip-full android-sdk-libsparse-utils erofs-utils \
             default-jdk gnupg flex bison gperf build-essential zip curl libc6-dev libncurses-dev libx11-dev libreadline-dev libgl1 libgl1-mesa-dev \
             python3 make gcc g++ bc grep tofrodos python3-markdown libxml2-utils xsltproc zlib1g-dev python-is-python3 libc6-dev libtinfo6 \
             make repo cpio kmod openssl libelf-dev pahole libssl-dev libarchive-tools zstd rsync pigz --fix-missing) &

            if  ${{ github.event.inputs.mock_build == 'false' }}; then
              (# mkdir -p "toolchain" && cd "toolchain"
              mkdir -p $HOME/neutron-clang && cd $HOME/neutron-clang
              curl -LO "https://raw.githubusercontent.com/Neutron-Toolchains/antman/main/antman"
              chmod +x antman && ./antman -S
              ln -s $HOME/neutron-clang $GITHUB_WORKSPACE/${{ env.KERNEL_FOLDER }}/toolchain) &
            fi

            ../ext-scripts/sukisu-setup.sh ${{ env.SUKISU_BRANCH }} &

            # configure KPM environment
            if $ADD_KPM_BUILD; then
              (
              curl -o "$HOME/.local/bin/sukisu_kpimg" 'https://raw.githubusercontent.com/SukiSU-Ultra/SukiSU_patch/refs/heads/main/kpm/kpimg' && chmod +x "$HOME/.local/bin/sukisu_kpimg"
              curl -o "$HOME/.local/bin/sukisu_kptools" 'https://raw.githubusercontent.com/SukiSU-Ultra/SukiSU_patch/refs/heads/main/kpm/kptools' && chmod +x "$HOME/.local/bin/sukisu_kptools"
              curl -o "$HOME/.local/bin/sukisu_kpm_patch" 'https://raw.githubusercontent.com/SukiSU-Ultra/SukiSU_patch/refs/heads/main/kpm/patch_linux' && chmod +x "$HOME/.local/bin/sukisu_kpm_patch"
              ) &
            fi

            wait

      - name: save SukiSU commit # not using HEAD since we are not fetching latest one
        run: |
          set -e
          cd ${{ env.KERNEL_FOLDER }}/KernelSU
          echo "SukiSU commit: $(git rev-parse HEAD)@${{ env.SUKISU_BRANCH }}"
          echo "SUKISU_COMMIT=$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Fiddle kernel stuff
        run: |
          set -e
          cd ${{ env.KERNEL_FOLDER }}
          ../kernel-scripts/set-features.sh

          # add KVM support
          ../kernel-scripts/enable-kvm-vfio.sh

          # remove built-in custom rom hiding (might will readd in future)
          patch -p1 < ../patches/96_unhide_stuff.patch

      - name: add KernelSU hook and enable SukiSU
        run: |
          set -e
          cd ${{ env.KERNEL_FOLDER }}

          ../kernel-scripts/plant-ksu-defconfig.sh
          ../kernel-scripts/enable-ksu.sh
          ../kernel-scripts/plant-susfs-defconfig.sh
          ../kernel-scripts/sussifykernel.sh

          patch -p1 < ../patches/ksu-hook-min/ksu-hook-min-1.6.patch

          (
          cd KernelSU
          # temporary fix SukiSU compile issues on susfs-main-branch
          patch -p1 < ../../patches/other-patches/ssu-susfs-main-fix-678c00.patch
          # make SukiSU compatible with backported susfs
          # patch -p1 < ../../patches/susfs-backport/thesillyok-susfs-1.5.12/thesillyok-susfs-1.5.12-compat-678c00.patch
          )

      - name: Integrate susfs
        run: |
          set -e
          cd ${{ env.KERNEL_FOLDER }}

          cp -r ../patches/susfs-backport/thesillyok-susfs-1.5.12/fs/* fs/
          cp -r ../patches/susfs-backport/thesillyok-susfs-1.5.12/include/linux/* include/linux/
          patch -p1 < ../patches/susfs-backport/thesillyok-susfs-1.5.12/thesillyok-susfs-1.5.12-mod.patch

      - name: Start building (without KPM)
        run: |
            set -e
            cd ${{ env.KERNEL_FOLDER }}

            sed -ri 's/^(CONFIG_KSU_DEBUG=.*|# CONFIG_KSU_DEBUG is not set)/CONFIG_KSU_DEBUG=n/' ${{ env.DEFCONFIG }}
            sed -ri 's/^(CONFIG_KPM=.*|# CONFIG_KPM is not set)/CONFIG_KPM=n/' ${{ env.DEFCONFIG }}

            if  ${{ github.event.inputs.mock_build == 'false' }}; then
              ../kernel-scripts/build.sh -b
            else
              echo "WARNING: Mock build enabled. Generating fake files instead..."
              mkdir -p out/arch/arm64/boot
              touch out/arch/arm64/boot/Image.gz-dtb
            fi

            cd ..
            mkdir -p begonia-ssu
            cp ${{ env.KERNEL_FOLDER }}/out/arch/arm64/boot/Image.gz-dtb begonia-ssu/

      - name: Enable debug and build again
        run: |
            set -e
            cd ${{ env.KERNEL_FOLDER }}

            sed -ri 's/^(CONFIG_KSU_DEBUG=.*|# CONFIG_KSU_DEBUG is not set)/CONFIG_KSU_DEBUG=y/' ${{ env.DEFCONFIG }}

            if  ${{ github.event.inputs.mock_build == 'false' }}; then
              ../kernel-scripts/build.sh -b
            else
              echo "WARNING: Mock build enabled. Generating fake files instead..."
              mkdir -p out/arch/arm64/boot
              touch out/arch/arm64/boot/Image.gz-dtb
            fi

            cd ..
            mkdir -p begonia-ssu-debug
            cp ${{ env.KERNEL_FOLDER }}/out/arch/arm64/boot/Image.gz-dtb begonia-ssu-debug/

      - name: Enable KPM and build again with KPM support without debug
        if: ${{ github.event.inputs.add_kpm_build == 'true' }}
        run: |
            set -e
            cd ${{ env.KERNEL_FOLDER }}

            sed -ri 's/^(CONFIG_KSU_DEBUG=.*|# CONFIG_KSU_DEBUG is not set)/CONFIG_KSU_DEBUG=n/' ${{ env.DEFCONFIG }}
            sed -ri 's/^(CONFIG_KPM=.*|# CONFIG_KPM is not set)/CONFIG_KPM=y/' ${{ env.DEFCONFIG }}

            if  ${{ github.event.inputs.mock_build == 'false' }}; then
              ../kernel-scripts/build.sh -b
              # integrate KPM and rebuild kernel iamge
              (
              cd out/arch/arm64/boot
              rm -f Image.gz-dtb
              sukisu_kpm_patch
              # oImage is KPM-patched kernel image
              rm -f Image Image.gz
              mv oImage Image
              gzip -k -6 Image
              cat Image.gz mtk.dtb > Image.gz-dtb
              )
            else
              echo "WARNING: Mock build enabled. Generating fake files instead..."
              mkdir -p out/arch/arm64/boot
              touch out/arch/arm64/boot/Image.gz-dtb
            fi

            cd ..
            mkdir -p begonia-ssu-kpm
            cp ${{ env.KERNEL_FOLDER }}/out/arch/arm64/boot/Image.gz-dtb begonia-ssu-kpm/

      - name: Enable debug and build again
        if: ${{ github.event.inputs.add_kpm_build == 'true' }}
        run: |
            set -e
            cd ${{ env.KERNEL_FOLDER }}

            sed -ri 's/^(CONFIG_KSU_DEBUG=.*|# CONFIG_KSU_DEBUG is not set)/CONFIG_KSU_DEBUG=y/' ${{ env.DEFCONFIG }}

            if  ${{ github.event.inputs.mock_build == 'false' }}; then
              ../kernel-scripts/build.sh -b
              # integrate KPM and rebuild kernel iamge
              (
              cd out/arch/arm64/boot
              rm -f Image.gz-dtb
              sukisu_kpm_patch
              # oImage is KPM-patched kernel image
              rm -f Image Image.gz
              mv oImage Image
              gzip -k -6 Image
              cat Image.gz mtk.dtb > Image.gz-dtb
              )
            else
              echo "WARNING: Mock build enabled. Generating fake files instead..."
              mkdir -p out/arch/arm64/boot
              touch out/arch/arm64/boot/Image.gz-dtb
            fi

            cd ..
            mkdir -p begonia-ssu-kpm-debug
            cp ${{ env.KERNEL_FOLDER }}/out/arch/arm64/boot/Image.gz-dtb begonia-ssu-kpm-debug/

      - name: Create AnyKernel3 zip installer
        run: |
          set -e
          echo ak3-ssu ak3-ssu-debug ak3-ssu-kpm ak3-ssu-kpm-debug | xargs -n 1 cp -r ak3

          mv begonia-ssu/Image.gz-dtb ak3-ssu/
          mv begonia-ssu-debug/Image.gz-dtb ak3-ssu-debug/

          (cd ak3-ssu && zip -r -9 ../sukisu-begonia-power-kernel-mod.zip . -x ".git/*") &
          (cd ak3-ssu-debug && zip -r -9 ../sukisu-debug-begonia-power-kernel-mod.zip . -x ".git/*") &

          if  $ADD_KPM_BUILD; then
            mv begonia-ssu-kpm/Image.gz-dtb ak3-ssu-kpm/
            mv begonia-ssu-kpm-debug/Image.gz-dtb ak3-ssu-kpm-debug/

            (cd ak3-ssu-kpm && zip -r -9 ../sukisu-kpm-begonia-power-kernel-mod.zip . -x ".git/*") &
            (cd ak3-ssu-kpm-debug && zip -r -9 ../sukisu-kpm-debug-begonia-power-kernel-mod.zip . -x ".git/*") &
          fi

          wait

      - name: Upload SukiSU AnyKernel3 zip to artifact
        if: ${{ github.event.inputs.upload_artifact == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: 'sukisu-begonia-power-kernel'
          path: |
              ak3-ssu/*
              !ak3-ssu/.git/*
          if-no-files-found: error
          compression-level: 9

      - name: Upload SukiSU debug AnyKernel3 zip to artifact
        if: ${{ github.event.inputs.upload_artifact == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: 'sukisu-debug-begonia-power-kernel'
          path: |
              ak3-ssu-debug/*
              !ak3-ssu-debug/.git/*
          if-no-files-found: error
          compression-level: 9

      - name: Upload SukiSU KPM zip to artifact
        if: ${{ (github.event.inputs.upload_artifact == 'true') && (github.event.inputs.add_kpm_build == 'true') }}
        uses: actions/upload-artifact@v4
        with:
          name: 'sukisu-kpm-begonia-power-kernel'
          path: |
              ak3-ssu-kpm/*
              !ak3-ssu-kpm/.git/*
          if-no-files-found: error
          compression-level: 9

      - name: Upload SukiSU KPM debug zip to artifact
        if: ${{ (github.event.inputs.upload_artifact == 'true') && (github.event.inputs.add_kpm_build == 'true') }}
        uses: actions/upload-artifact@v4
        with:
          name: 'sukisu-kpm-debug-begonia-power-kernel'
          path: |
              ak3-ssu-kpm-debug/*
              !ak3-ssu-kpm-debug/.git/*
          if-no-files-found: error
          compression-level: 9

      - name: Create commit text for record for artifact
        if: ${{ github.event.inputs.upload_artifact == 'true' }}
        run: |
          echo "${{ env.KERNEL_COMMIT }}" >> ${{ env.KERNEL_FOLDER }}/commit.txt
          echo "${{ env.SUKISU_COMMIT }}@${{ env.SUKISU_BRANCH }}" >> ${{ env.KERNEL_FOLDER }}/KernelSU/commit.txt

      - name: Pack kernel source
        if : ${{ (github.event.inputs.upload_artifact == 'true') || (github.event.inputs.generate_release != 'none') }}
        run: |
            tar --use-compress-program="pigz -k -9" \
              --exclude=".git"\
              --exclude="KernelSU/.git" \
              --exclude="out"\
              -cvf sukisu-begonia-power-kernel-src.tar.gz  \
              -C "${{ env.KERNEL_FOLDER }}" .
  
      - name: Pack kernel output (for reference only)
        if : ${{ (github.event.inputs.upload_artifact == 'true') || (github.event.inputs.generate_release != 'none') }}
        run: |
            tar --use-compress-program="pigz -k -9" \
              -cvf sukisu-begonia-power-kernel-src-out.tar.gz  \
              -C "${{ env.KERNEL_FOLDER }}/out" .

      - name: Upload kernel source to artifact
        if: ${{ github.event.inputs.upload_artifact == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: 'sukisu-begonia-power-kernel-src'
          path: 'sukisu-begonia-power-kernel-src.tar.gz'
          if-no-files-found: error
          compression-level: 9
          include-hidden-files: false

      - name: Upload kernel source output to artifact (for reference only)
        if: ${{ github.event.inputs.upload_artifact == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: 'sukisu-begonia-power-kernel-src-out'
          path: 'sukisu-begonia-power-kernel-src-out.tar.gz'
          if-no-files-found: error
          compression-level: 9
          include-hidden-files: false

      - name: Create release
        if: ${{ github.event.inputs.generate_release != 'none' }}
        uses: softprops/action-gh-release@v2
        with:
          prerelease: ${{ github.event.inputs.generate_release == 'pre-release' }}
          tag_name: ${{ env.TAG }}
          files: |
            sukisu-begonia-power-kernel-mod.zip
            sukisu-*-begonia-power-kernel-mod.zip
            sukisu-begonia-power-kernel-mod-src.zip
          body: |
            Power Kernel commit: `${{ env.KERNEL_COMMIT }}`
            SukiSU commit: `${{ env.SUKISU_COMMIT }}`
            SukiSU branch: `${{ env.SUKISU_BRANCH }}`
            susfs version: `${{ env.SUSFS_VER }}`
